.grid {
	width: 1000px;
	height: 606px;
	float: left;
}

.square {
	height: 150px;
	width: 150px;
	border: solid black 1px;
	float: left;
	background-color: white;
}

.target {
	background-color: cyan;
	background-size: cover;
	float: left;
}
#secondstep a{
	text-decoration: none;
	color: brown;
}
#secondstep{
font-size: 40px;
transition: 1s;
width: 400px;
background-image: none;
text-align: center;
}
#secondstep:hover{
	font-size: 140px;
	transition: 1s;
	background-image: linear-gradient(to right, red , yellow);
	width: 100%;
	color: white;
	}
	#secondstep a:hover{
		transition: 1s;
		color: white;
	}
#desc{
	font-size: 40px;
}

